doc/ZNetCom3.47_Setup/ZNetCom3.47_Setup.exe
doc/CU48B_with_infrared_item_detection_Communication_Protocol_manual (2).pdf
doc/CU48B_with_infrared_item_detection_Communication_Protocol_manual.pdf
doc/How to factory reset？.docx
doc/TCP IP setting manual(BU).doc
doc/TCP-UDP_test.zip
doc/Timeout to Disconnect setting 2022.9.29.docx
doc/ZNetCom3.47_Setup.zip
doc/TCP-UDP_test/TCPUDPDebug_Setup_1.038.exe
